.report-page-container {
  display: flex;
  height: 100vh;
  margin: 30px;
  border: 3px solid black;
  border-radius: 15px;
}

.questionnaire-section {
  flex: 0 0 30%;
  background-color: #f1f1f1;
  border-right: 1px solid #ccc;
  margin: 1.5%;
}

.report-section {
  flex: 0 0 65%;
  padding: 20px;
  overflow-y: auto;
}