.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo img {
  margin-left: 20px;
  width: 160px;
}

.header .buttons button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.header .cta-button button {
  border: 2px solid black;
  background-color: #f7d064;
  width: 10vw;
  height: 35px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  margin-right: 25px;
  box-shadow: 2px 2px;
}