body {
  background-color: #f2ede3;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
}

body {
  overflow: auto;
}